/* @keyframes animateLtc {
  0% {
    transform: rotate(0deg);
}
25% {
    transform: rotate(90deg);
}
50% {
    transform:  rotate(180deg);
}
75% {
    transform:  rotate(270deg);
}
100% {
    transform:  rotate(360deg);
}
  }
  
  .aboutus-image {
    position: relative;
  }
  
  .aboutus-image .litecoin {
    position: absolute;
    animation: animateLtc 10s infinite;
  } */

   @keyframes moveBitcoin {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(50px, 0) rotate(90deg);
    }
    50% {
        transform: translate(50px, 50px) rotate(180deg);
    }
    75% {
        transform: translate(0, 50px) rotate(270deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

.aboutus-image {
    position: relative;
}

.aboutus-image .bitcoin {
    position: absolute;
    animation: moveBitcoin 10s infinite;
}

@keyframes rotateEllipse {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.aboutus-image {
  position: relative;
}

.aboutus-image .elipse {
  position: absolute;
  animation: rotateEllipse 20s infinite;
}




@keyframes glowingPulse {
    0% {
      transform: scale(1);
      color: #0FCFCF; /* Change to your desired color */
      text-shadow: 0 0 5px rgba(74, 222, 128, 0.5); /* Adjust color and shadow as needed */
    }
    25% {
      transform: scale(1.1);
      color: #0FCFCF; /* Change to your desired color */
      text-shadow: 0 0 10px rgba(74, 222, 128, 0.7); /* Adjust color and shadow as needed */
    }
    50% {
      transform: scale(1.2);
      color: #0FCFCF; /* Change to your desired color */
      text-shadow: 0 0 10px rgba(74, 222, 128, 0.7); /* Adjust color and shadow as needed */
    }
    75% {
      transform: scale(1.3);
      color: #0FCFCF; /* Change to your desired color */
      text-shadow: 0 0 10px rgba(74, 222, 128, 0.7); /* Adjust color and shadow as needed */
    }
    100% {
      transform: scale(1);
      color: #0FCFCF; /* Change to your desired color */
      text-shadow: 0 0 5px rgba(74, 222, 128, 0.5); /* Adjust color and shadow as needed */
    }
  }
  
  /* Apply animation to the play icon */
  .icon-glow {
    animation: glowingPulse 1.5s infinite;
  }