.market-update-header {
    display: grid;
    grid-template-columns: 50px 200px 170px 100px 200px 120px;
    justify-content: space-between;
    align-items: center;
}
.market-update-table .table-content {
    display: grid;
    grid-template-columns: 50px 200px 170px 100px 200px 120px;
    justify-content: space-between;
    align-items: center;
}


.carousel{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    justify-content: space-between;
}
.carousel-item{
    transition: .2s ease-in-out;

}
.carousel-item:hover {
    box-shadow: 1px 1px 25px -16px #08cda9;
}