/* .roadmap-items{
    position: relative;
}
.roadmap-items::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 17%;
    left: 0;
}
.roadmap-items .item .achivements {
    text-align: center;
    color: white;
    background: rgba(13, 13, 13, 0.679);
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
} */