.reasons-lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.reasons-lists .list {
    background: #171B29;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    width: 306px;
    height: 275px;
    padding: 0px 30px;
    position: relative;
    overflow: hidden;
}
.reasons-lists .list::before {
    content: '';
    position: absolute;
    background: #00ffff2c;
    width: 270px;
    height: 250px;
    top: -186px;
    left: 15px;
    border-radius: 100%;
}
.reasons-lists .list:hover span{
    color: white;
   background: var(--secondary-color);
   transition: .3s ease-out;
}
.reasons-lists .list span{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--secondary-color);
    background: #171B29;
    padding: 12px;
    border-radius: 100px;
    z-index: 1;
}
.reasons-lists .list h2{
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.reasons-lists .list p{
    color: gray;
}