.documents-section{
    background-image: url('https://icolandvuejs.themesflat.co/img/bg-document-01.c76e706e.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.documents-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000ff03;
    z-index: -1;
    box-shadow: 0 -30px 70px #0000ff03;
}

.documents{
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 100px;
}
.documents .document {
    position: relative;
    background: linear-gradient(180deg,rgba(26,15,106,0),#0a33ae95 86.87%);
    border-radius: 10px;
    width: 280px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.documents .document .big-title{
    position: absolute;
    top: -32px;
    left: -30px;
    width: 120px;
    height: 140px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    background: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),linear-gradient(153.06deg,#0FCFCF -.31%,#110f6e 99.69%);
}
.documents .document .big-title img{
    max-width: 90%;
    width: 90%;
    overflow: hidden;
    position: absolute;
}
.documents .document .desc{
    margin-left: 70px;
}
