.main-header{
    position: sticky;
    z-index: 9;
}
.header-button{}
.header-button button{
    /* color: var(--text-light); */
    position: relative;
}
.header-button button::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: #84848482;
    top: 16px;
    left: -22px;
}
.header-button button svg{

}


/* Language Selector */
