/* @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-bg {
    background: linear(45deg, #16161F, #111120);
    background-size: 200% 200%;
    animation: gradientAnimation 5s infinite; 
  } */
