@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
/* Font */
/* h1, h2, h3, h4, h5, h6, a, li, p, span, b{
    font-family: 'Poppins', sans-serif;
} */
:root{
    --secondary-color: #0fcfcf;
    --secondary-color-hover: #12AFAF;
    --color-white: #FFFFFF;
    --color-light: #ededed;
    --color-dark: #0e0e0e;
    --color-gray: #b4b4b4;
    --border-color: rgb(193 193 193 / 30%);
    --bluish-div-bg: #122036;
    --darkish-div-bg: #111827;
}
.container{
    max-width: 1420px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.primary-button {
    background: var(--secondary-color);
    padding: 13px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-white);
}

.primary-button-outline {
    background: transparent;
    border: 1px solid var(--secondary-color);
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-white);
}
.primary-button-outline:hover{
    transition: .2s;
    background: var(--secondary-color);
    
}


.text-linear{
    /* background: -webkit-linear-gradient(160deg, #00C7B7, #6600CC); */
    background: -webkit-linear-gradient(160deg, #6600CC, #00C7B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-linear{
    background: -webkit-linear-gradient(290deg, #00C7B7, #6600CC);
}
.border-linear {
    border: 1px solid transparent;
    border-image: linear-gradient(to top, #00C7B7, #6600CC) 1;
}
